{% extends "base.html" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
<h2 class="text-center">Scoreboard</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
